services:
  db:
    image: postgres:16-alpine
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "127.0.0.1:5400:5432"
    volumes:
      - db:/var/lib/postgresql/data
volumes:
  db:
    driver: local
